/*nesting o anidamiento escribir en cascada*/

.header{
    background-color: black;
    nav {
        border: 2px solid blue;
        ul{
            list-style: circle;
            li{
                a{
                    text-decoration: none;
                    /*  & */
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 490px){
        background-color: orange;
    }
} 